@import '../../../scss/vars';
@import '../../../scss/mixins';
@import '../../../scss/functions';

.board {

}

.board__swim-lanes {
  padding: unit($std-pad);

  @include media-min-md() {
    display: flex;
    justify-content: space-between;
  }

  app-swim-lane {
    flex: 1;
    margin: unit($std-pad);
  }
}