<div class="new-board full-page-splash">

  <img class="logo" src="../../../assets/logo.svg">

  <p>Ready to get retrospective? Start a new board!</p>

  <div class="box">
    <form class="new-board__form" #newBoardForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="new-board__row">
        <label for="board" class="form__label">Board Name</label>
        <input
          [(ngModel)]="boardName"
          type="text"
          name="board"
          class="new-board__text input-field">
      </div>
      <div class="new-board__row">
        <label for="boardDesc" class="form__label">Description</label>
        <input
          [(ngModel)]="boardDesc"
          type="text"
          name="boardDesc"
          class="new-board__text input-field">
      </div>
      <div class="new-board__row" *ngIf="user">
          <div class="form__label new-board__user">Board owner: {{user.email}}</div>
      </div>
      <div class="new-board__row">
        <button class="btn new-board__submit" type="submit">Start</button>
      </div>
      <div class="new-board__error" *ngIf="errorBoardExists">
        This board name already exists.
      </div>
    </form>
  </div>
</div>