<div class="new-board">
  <p>Ready to get retrospective? Start a new board!</p>

  <div class="new-board__form">
    <form #newBoardForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="new-board__row">
        <input
          [(ngModel)]="boardName"
          type="text"
          name="board"
          placeholder="Name"
          class="new-board__text input-field">
      </div>
      <div class="new-board__row">
        <input
          [(ngModel)]="boardDesc"
          type="text"
          name="boardDesc"
          placeholder="Description"
          class="new-board__text input-field">
      </div>
      <div class="new-board__row">
        <button class="btn btn--inverse new-board__submit" type="submit">Start</button>
      </div>
    </form>
  </div>
</div>