@import '../../../scss/vars';
@import '../../../scss/mixins';
@import '../../../scss/functions';

.new-board {
  align-items: center;
  background-color: $accent-bold;
  color: $accent-light;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.new-board__form {
  width: 100%;

  @include media-min-md {
    max-width: unit(300);
  }
}

.new-board__row {
  padding: unit(10);
}

.new-board__text {
  display: block;
  width: 100%;
}

.new-board__submit {
  display: block;
  width: 100%;
}