@import '../../../scss/vars';
@import '../../../scss/mixins';
@import '../../../scss/functions';

.new-board {

}

.new-board__form {
  padding: unit($std-pad * 2);
}

.new-board__row {
  padding: unit(10) 0;
}

.new-board__text {
  display: block;
  width: 100%;
}

.new-board__submit {
  display: block;
  width: 100%;
}