//scss imports (no css output)
@import './scss/vars';
@import './scss/functions';
@import './scss/mixins';

//resets
@import './scss/normalize';

//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

//global styles
* {
  box-sizing: border-box;
}

html, body {
  color: $neutral-dark;
  font-size: $base-font-size;
  font-family: 'Montserrat', sans-serif;
}

.full-page-splash {
  align-items: center;
  background-color: $accent-bold;
  color: $accent-light;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.logo {
  margin: unit(25);
  width: unit(150);
}

.btn {
  background: $accent-bold;
  border: 1px solid $accent-bold;
  color: $accent-light;
  cursor: pointer;
  font-size: unit(16);
  height: unit(40);
  line-height: unit(40);
  overflow: visible;
  padding: 0 unit(10);
  transition: background 0.25s ease;

  &:hover {
    border: 1px solid $accent-bold;
    background: white;
    color: $accent-bold;
  }

  &:disabled {
    opacity: 0.25;
  }

  &.btn--inverse {
    background: $accent-light;
    border: 1px solid $accent-light;
    color: $accent-bold;

    &:hover {
      background: $neutral-light;
      border: 1px solid $accent-light;
      color: $neutral-dark;
    }
  }

  &.btn--white {
    background: white;
    border: 1px solid $accent-bold;
    color: $accent-bold;

    &:hover {
      background: $accent-bold;
      border: 1px solid $accent-bold;
      color: white;
    }
  }
}

.btn-link {
  color: $accent-bold;
  cursor: pointer;
  display: block;
  padding: 0 unit(10);
  background-color: transparent;
  border: none;

  &.btn-link--med {
    color: $neutral-med;
  }
}

.input-field {
  border: 1px solid $neutral-light;
  height: unit(40);
  padding: unit(5);
  outline: none;
}

.form__label {
  color: $accent-bold;
  font-size: unit(12);
  margin: 0;
  padding: 0;
}

.box {
  background-color: white;
  width: 94%;
  @include std-box-shadow;

  @include media-min-sm() {
    width: unit(400);
  }

}