//scss imports (no css output)
@import './scss/vars';
@import './scss/functions';

//resets
@import './scss/normalize';

//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

//global styles
* {
  box-sizing: border-box;
}

html, body {
  color: $neutral-dark;
  font-size: $base-font-size;
  font-family: 'Montserrat', sans-serif;
}

.full-page-splash {
  align-items: center;
  background-color: $accent-bold;
  color: $accent-light;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.btn {
  background: $accent-bold;
  border: 0;
  color: $accent-light;
  cursor: pointer;
  font-size: unit(16);
  height: unit(40);
  line-height: unit(40);
  overflow: visible;
  padding: 0 unit(10);

  &:hover {
    background: $neutral-dark;
    color: $neutral-light;
  }

  &.btn--inverse {
    background: $accent-light;
    color: $accent-bold;

    &:hover {
      background: $neutral-light;
      color: $neutral-dark;
    }
  }
}

.input-field {
  height: unit(40);
  outline: none;
}